--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.2+cu121

PyYAML
accelerate
datasets
deepspeed
einops
evaluate
peft
protobuf
scikit-learn
scipy
sentencepiece
fire
pillow
transformers
isort
black
wandb
opencv-python
jupyter
jupyterlab
matplotlib
japanize-matplotlib
pre-commit
